h1 {
  color: #27729ea4;
  font-family: "comic sans ms", sans-serif;
  font-size: 60px;
  font-weight: bolder;
  line-height: 24px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: italic;
  animation-name: input1; /* same animation as the input field */
  animation-duration: 2s;
}

.completedP {
  animation-name: input1; /* same animation as the input field, 
  i just copied the name of the animation here again as i did in H1*/
  animation-duration: 2s;
  background-color: #27729ea4;
  border: 1px solid #27729ea4;
  border-radius: 5px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  margin: 40px 40px 0 70px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.addBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  /*border-radius: 1rem; ---------- this will make the button lose it is styling (change color when clicked))	*/
  text-transform: uppercase;
  cursor: pointer;
  background-color: #27729ea4;
  color: #fff;
  border-radius: 10px;
}

.clickAdd {
  color: #1b5324a4;
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  text-shadow: #0f25a1a4 0px 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/*#listdiv {
  color: rgb(40, 41, 94);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
}
*/
.input1 {
  animation: input1 2s;
  position: absolute;
  top: 50%; /* positioning in the middel from the top */
  left: 40%; /* positioning in the middel from the left */
  -ms-transform: translate(-50%, -50%);
  transform: translate(0, 0);
  color: #000000;
  font-weight: bolder;
  font-size: larger;
  font-family: "comic sans ms", sans-serif;
}

.deleteP {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-image: linear-gradient(105deg, blue, red, green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.completed {
  text-decoration: line-through;
  color: rgb(66, 66, 70);
  font-size: larger;
  cursor: pointer;

  animation-duration: 1000ms;
  animation-name: completed;
}

#ToDo {
  color: rgb(97, 99, 206);
  border-radius: 1rem;
}
.body1 {
  /* background-image: url("todo.jpeg");  Changing it to follow the assignment instruction */
  background: linear-gradient(180deg, #eccbe2, rgb(214, 108, 214));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.BtnClass {
  align-items: center;
  background: none;
  border: 1px solid;
  border-radius: 24px;
  cursor: pointer;
}

#div1 {
  /* Follwing (Richard) instruction , i hide the element and now i will try to give it a new class in JS */
  width: 120px;
  height: 20px;
  animation-duration: 1000ms;
  animation-name: div1;
  font-size: 10px;
  color: rgb(235, 13, 13);
  display: none;
}

li {
  /* this is the list style */
  animation-duration: 1000ms;
  animation-name: li;
}
@keyframes completed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes li {
  /* this is the animation for the list */
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(-100);
  }
}

@keyframes div1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes input1 {
  0% {
    opacity: 1;
    transform: translateY(-1500px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
