
.container{
  background-color: #fff;
  max-width: 300px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;




}
h1 {
  color: #000000;
  font-size: 40px;
  font-weight: bolder;
  line-height: 24px;

  padding: 20px;
  text-align: center;
  animation-name: input1; /* same animation as the input field */
  animation-duration: 2s;
}

.completedP {
  animation-name: input1; /* same animation as the input field, 
  i just copied the name of the animation here again as i did in H1*/
  animation-duration: 2s;
  color: rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
}
.addBtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  cursor: pointer;
}

.clickAdd {
  color: #1b5324a4;
  font-size: 24px;
  font-weight: bolder;
  line-height: 24px;
  text-shadow: #0f25a1a4 0px 5px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


.input1 {
  animation: input1 2s;
  position: absolute;
  left: 40%; /* positioning in the middle from the left */
  -ms-transform: translate(-50%, -50%);
  transform: translate(0, 0);
  color: #000000;
  font-weight: bolder;
  font-size: larger;
}

/*.deleteP {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background-image: linear-gradient(105deg, blue, red, green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
*/
.completed {
  text-decoration: line-through;
  color: rgb(66, 66, 70);
  font-size: larger;
  cursor: pointer;

  animation-duration: 1000ms;
  animation-name: completed;
}

#ToDo {
  color: rgba(68, 109, 241, 0.705);
  border-radius: 3px;
  margin-left: 20px;

}
.body1 {
  /* background-image: url("todo.jpeg");  Changing it to follow the assignment instruction */
  background: linear-gradient(180deg, #eccbe2, rgb(214, 108, 214));
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.BtnClass {
  align-items: center;
  border: none;
  cursor: pointer;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 30%;
}

#div1 {
  /* Following (Richard) instruction , i hide the element and now i will try to give it a new class in JS */
  width: 120px;
  height: 20px;
  animation-duration: 1000ms;
  animation-name: div1;
  font-size: 10px;
  color: rgb(235, 13, 13);
  display: none;
}

li {
  /* this is the list style */
  animation-duration: 1000ms;
  animation-name: li;
  background-color: #fff;
  list-style: none;
}
@keyframes completed {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes li {
  /* this is the animation for the list */
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(-100);
  }
}

@keyframes div1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes input1 {
  0% {
    opacity: 1;
    transform: translateY(-1500px);
  }
  60% {
    opacity: 1;
    transform: translateY(10px);
  }
  80% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
